.root {
  display: grid;
  grid-template-rows: var(--size-title-bar) 1fr;
  grid-template-columns: var(--size-file-tree) 1fr var(--size-chat-panel);
  grid-template-areas:
    'titlebar titlebar titlebar'
    'sidebar  viewer   chat';
  height: 100vh;
  width: 100vw;
  background: var(--bg-outer);
  overflow: hidden;
}

.rootEmpty {
  grid-template-columns: 1fr;
  grid-template-areas:
    'titlebar'
    'empty';
}

.titlebar {
  grid-area: titlebar;
}

.empty {
  grid-area: empty;
  min-width: 0;
  min-height: 0;
}

.sidebar {
  grid-area: sidebar;
  min-width: 0;
  min-height: 0;
}

.viewer {
  grid-area: viewer;
  min-width: 0;
  min-height: 0;
}

.chat {
  grid-area: chat;
  min-width: 0;
  min-height: 0;
}
